* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    padding-top: 20px;
    padding-bottom: 30px;
}

#taskList {
    list-style: none;
}

ul#taskList li {
    width: 23%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding-top: 10px;
}

ul#taskList li button {
    margin-top: 0;
    margin-left: 50px;
}
